@font-face {
    font-family: Retro Disco;
    src: url('../Fonts/RetroDiscoDEMO-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url(../Images/bluechkr.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border: 3px solid #1b1464;
    background-color: #86c6e5;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 10px;
}

header img {
    height: 50px;
}

.container {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 20px;
    background-color: #86c6e5;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #1b1464;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar h2 {
    font-family: 'Retro Disco';
    margin-top: 0;
    font-size: 3em;
    text-align: center;
}

.sidebar p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.sidebar-link img {
    width: auto;
    height: 50px;
    border-radius: 10px;
}

.main-content {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    margin-left: 250px; 
    box-sizing: border-box;
    z-index: 998;
}

.photo-grid {
    display: grid;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin-left: -20%; 
}

.photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "img1 img2 img3"
        "img4 img2 img5";
}

.photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-grid img:nth-child(1) {
    grid-area: img1;
}

.photo-grid img:nth-child(2) {
    grid-area: img2;
}

.photo-grid img:nth-child(3) {
    grid-area: img3;
}

.photo-grid img:nth-child(4) {
    grid-area: img4;
}

.photo-grid img:nth-child(5) {
    grid-area: img5;
}

.sticker {
    position: absolute;
    z-index: 999;
    width: 200px;
    height: auto;
}

.top-left {
    top: 150px;
    left: 350px;
}

.bottom-right {
    bottom: -130px;
    right: 460px;
}

@media (max-width: 1024px) {
    .top-left {
        top: 150px;
        left: 150px;
    }
    
    .bottom-right {
        bottom: -230px;
        right: 230px;
    }
}

@media (max-width: 900px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "img1 img2"
            "img3 img2"
            "img4 img5";
        margin-left: 0%;
        margin-right: 10%;
    }

    .sticker {
        display: none;
    }
}

@media (max-width: 600px) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5";
        margin-left: 10px;
        margin-right: 10px;
    }

    .sticker {
        display: none;
    }
}
